<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%=review.author.username%></h5>
    <p class="starability-result" data-rating="<%=review.rating%>">
      Rated: <%=review.rating%> stars
    </p>
    <p class="card-text">Review: <%=review.body%></p>
  </div>
  <div class="card-footer text-body-secondary">
    <%=dateDiffAprox(new Date(review.createdAt))%> <%=review.createdAt.valueOf()
    != review.updatedAt.valueOf()? "\(edited\)": ""%>
  </div>
</div>
