<% layout('layouts/boilerplate') -%>
<script>
  const mapApiKey = "<%=mapkey%>";
</script>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      class="needs-validation"
      method="post"
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="campground[title]"
          id="title"
          class="form-control"
          value="<%=campground.title%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="campground[location]"
          id="location"
          class="form-control inputLocation"
          value="<%=campground.location%>"
          required
        />
        <div class="invalid-feedback">
          Location not found. Please consider checking spelling or format.
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">£</span>
          <input
            id="price"
            type="number"
            min="0"
            class="form-control"
            placeholder="0.00"
            name="campground[price]"
            aria-label="Price"
            aria-describedby="price-label"
            value="<%=campground.price%>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="campground[description]"
          id="description"
          class="form-control"
          required
        >
<%=campground.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="input-group custom-file-button mb-3">
        <label class="input-group-text" for="fileInputImages"
          >Add more image(s)...</label
        >
        <input
          type="file"
          class="form-control fileInputImages"
          id="fileInputImages"
          name="image"
          multiple
        />
        <div class="invalid-feedback" id="fileInputError"></div>
      </div>
      <!-- <div id="fileInputError"></div> -->
      <div class="ImagePreview"></div>
      <div class="mb-3 ImagePreview d-flex">
        <%campground.images.forEach(function (img, i) {%>
        <div>
          <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" />
          <div class="form-check form-check-inline d-flex">
            <input
              class="form-check-input"
              type="checkbox"
              id="image-<%=i%>"
              name="deleteImages[]"
              value="<%=img.filename%>"
            />
            <label class="form-check-label mx-1" for="image-<%=i%>"
              >Delete</label
            >
          </div>
        </div>
        <%})%>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success">Update campground</button>
        <a class="btn btn-danger" href="/campgrounds/<%=campground._id%>"
          >Cancel</a
        >
      </div>
    </form>
    <!-- <a href="/campgrounds/<%=campground._id%>">Back to Campground</a> -->
  </div>
</div>
